@model IEnumerable<PoshakMonix.Models.Entities.Factor>

@{
    ViewData["Title"] = "مدیریت فاکتور ها";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">مدریریت فاکتور ها</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active"> <a asp-action="Index" asp-controller="Home" asp-area="Admin">مدیریت</a> </li>
                        <li class="breadcrumb-item active">مدریریت فاکتور ها </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="container-fluid">
        <div class="row">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sended)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsPayed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @((item.Sended)? "بله" : "خیر")
                            </td>
                            <td>
                                @((item.IsPayed)? "بله" : "خیر")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <form method="post" asp-action="Confirm" asp-route-id="@item.Id">
                                    <input class="btn btn-warning" type="submit" value="ارسال شده" />
                                </form> |
                                <form method="post" asp-action="Payed" asp-route-id="@item.Id">
                                    <input class="btn btn-warning" type="submit" value="پرداخت شده" />
                                </form> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>